<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Afsprong Abart</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg class="bi" >
                    <use href="bootstrap-icons/bootstrap-icons.svg#cup-straw" ></use>
                </svg> Bar
            </NavLink>
            <NavLink class="nav-link" href="stock" Match="NavLinkMatch.All">
                <svg class="bi">
                    <use href="bootstrap-icons/bootstrap-icons.svg#bank" ></use>
                </svg> Stock
            </NavLink>
        </div>
    </nav>
</div>

